.DS_Store
config.py
rosa.log
__pycache__/
.vscode/
.git/

rosa.egg-info/
abilities/rosa_records/
abilities/
abilities/__pycache__/
abilities/config.py
abilities/__init__.py
add_extra/config.py
add_extra/__pycache__/
__init__.py
build/